@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Cormorant:ital,wght@1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family: 'Open Sans', Avenir, system-ui;
    /* 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif */
    --line-height: 1.5;
    --font-weight: 400;
    background: #FAF6EA;
  }

  html {
    font-family: var(--font-family);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  h1 em, h1 i {
    font-family: 'Cormorant', serif;
    font-size: 1.2em;
  }

  h2 {
    font-size: 2.5em;
    line-height: 0.8;
  }
}
@layer components {
  .nav-li:hover {
    @apply italic font-comorant text-2xl
    /* underline underline-offset-4 */
  }

  .nav-li-active {
    @apply italic font-comorant text-2xl
    /* underline underline-offset-4 */
  }

  .form-background {
    @apply min-h-screen flex items-center justify-center bg-gray-100;
  }

  .form-container {
    @apply w-full max-w-md bg-white shadow-lg rounded-lg p-8;
  }

  .form-title {
    @apply text-2xl font-medium text-left mb-6;
  }

  .form-label {
    @apply block text-sm font-medium text-gray-600 my-2;
  }

  .form-input {
    @apply w-full mt-1 px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none;
  }
  
  .form-options {
    @apply mt-1 block w-full p-3 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500;
  }

  .form-button {
    @apply w-full bg-gradient-to-r from-custom-yellow to-custom-yellow text-white font-medium py-2 rounded-lg transition-colors mt-4;
  }

  .form-button:hover {
    @apply hover:from-custom-yellow hover:to-custom-yellow-2;
  }

  .item-generic-container {
    @apply w-screen h-screen px-10 grid grid-cols-2;
  }

  .item-container-size {
    @apply w-full h-3/4;
  }

  .item-container {
    @apply h-96 my-5 mx-5 border-2 rounded-lg;
  }

  .item-img-container {
    @apply px-2 py-2 h-4/5 flex items-center justify-center;
  }

  .item-img {
    @apply p-4;
  }

  .item-img-potrait {
    @apply max-h-[100%] min-h-[100%];
  }

  .item-img-landscape {
    @apply max-w-[80%] min-w-[80%];
  }

  .item-title-container {
    @apply h-1/2 p-2 text-center text-lg;
  }

  .item-tags-container {
    @apply mx-2 px-2 text-center text-sm border bg-slate-400 text-white;
  }

  .item-price-container {
    @apply px-4 py-2 text-left self-end font-bold;
  }

  .product-generic-container {
    @apply w-screen h-screen px-10 flex;
  }

  .account-generic-container {
    @apply w-screen h-screen px-10 flex justify-center;
  }

  .rounded-checkbox {
    @apply appearance-none h-5 w-5 rounded-full border border-gray-300 checked:bg-blue-500 checked:border-blue-500 focus:outline-none;
  }
}

@layer utilities {
  .custom-background-infinite {
    background-image: url('/assets/images/image7.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: auto;
  }

  .custom-background-mixed {
    background-image: url('/assets/images/image8.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: auto;
  }

  .custom-background-rainbow {
    background-image: url('/assets/images/image9.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: auto;
  }

  .custom-background-rainbow-r90 {
    background-image: url('/assets/images/image9.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: auto;
  }

  .mixed-img-setting {
    @apply custom-background-mixed relative flex flex-col min-h-[800px] max-w-[1000px] w-full
  }

  .absolute-text-1 {
    @apply absolute top-80 left-60 w-1/5
  }

  .absolute-text-2 {
    @apply absolute top-20 right-28 w-1/5
  }

  .absolute-text-3 {
    @apply absolute bottom-20 left-48 w-1/4 text-sm
  }

  .absolute-text-4 {
    @apply absolute bottom-36 right-8 w-1/2
  }

  .mobile-text {
    @apply text-sm m-4 py-4 px-4
  }

  .mobile-text-xs {
    @apply mx-4 px-4
  }

  .five-column-container {
    @apply flex flex-row justify-end min-h-[600px]
  }

  .mobile-horizontal-row {
    @apply flex flex-row justify-evenly py-2
  }

  .slim-vertical-col {
    @apply flex flex-col justify-between w-1/5 text-center py-0
  }

  .rb-col {
    @apply border-r border-r-slate-500
  }
}